@model IEnumerable<Deduction>

<!-- DataTale -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Deductions</h6>
            <a class="btn btn-secondary" asp-controller="Deduction" asp-action="Upsert">
                    <i class="fas fa-plus-circle"></i> Create Deduction
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead> 
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Eligibility Criteria</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                     <th>Name</th>
                     <th>Amount</th>
                     <th>Description</th>
                     <th>Eligibility Criteria</th>
                     <th>Actions</th>
                </tr>
                </tfoot>
                <tbody class="text-dark">
                @foreach (var deduction in Model)
                {
                    <tr>
                        <td>@deduction.Name</td>
                        <td>@deduction.Amount?.ToString("F2")</td>
                        <td>@deduction.Description</td>
                        <td>@deduction.EligibilityCriteria</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu animated--fade-in"
                                     aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Deduction" asp-action="Upsert" asp-route-id="@deduction.Id"
                                       onmouseover="this.style.backgroundColor='#5cb85e'; this.style.color='white';"
                                       onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                        <i class="fas fa-edit"></i> Update
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="deleteObj('/HR/Deduction/Delete?id=@deduction.Id')"
                                       onmouseover="this.style.backgroundColor='#e74a3e'; this.style.color='white';"
                                       onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
}