@using Cores.Utilities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cores</title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for DataTables-->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!--Toaster Notification-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <!-- Flatpickr For Data Input -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- intlTelInput -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" />



</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CORES</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        @{
            string area;
            if (User.IsInRole(SD.ADMIN_ROLE))
            {
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dashboard"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Dashboards</span>
                </a>
                <div id="dashboard" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-area="Hr" asp-controller="Dashboard" asp-action="Index">Hr</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Dashboard" asp-action="Index">CRM</a>
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Dashboard" asp-action="Index">Accounting</a>
                    <a class="collapse-item" asp-area="Employee" asp-controller="Dashboard" asp-action="Index">Employee</a>
                </div>
                </div>

            } else if (User.IsInRole(SD.HR_ROLE)) {
                <a class="nav-link" asp-area="Hr" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a> 
            } else if (User.IsInRole(SD.CRM_ROLE))
            {
                <a class="nav-link" asp-area="CRM" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            } else if (User.IsInRole(SD.ACCOUNTING_ROLE))
            {
                <a class="nav-link" asp-area="Accounting" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            }
            else
            {
                <a class="nav-link" asp-area="Employee" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            }
        }
    </li>
        
      
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>
 
  
    @if (!User.IsInRole(SD.ADMIN_ROLE))
    {
       <!-- Components Collapse -->
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @* Sub-Section's Title *@
                @*@if (User.IsInRole(SD.ADMIN_ROLE))
                {
                    <h6 class="collapse-header">CRM</h6>
                }*@
                @if (User.IsInRole(SD.CRM_ROLE))
                {
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Contacts</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Customers</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Leads</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Purchase" asp-action="Index">Purchases</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Problem" asp-action="Index">Problems</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Event" asp-action="Index">Event</a>
                }

                @if (User.IsInRole(SD.HR_ROLE))
                {
                    <a class="collapse-item" asp-area="HR" asp-controller="Department" asp-action="Index">Departments</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Position" asp-action="Index">Positions</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="LeaveRequest" asp-action="Index">Leave Requests</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="DocumentRequest" asp-action="Index">Document Requests</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="CompensationRequest" asp-action="Index">Compensation Requests</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="BenefitsRequest" asp-action="Index">Benefits Requests</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="AdministrativeRequest" asp-action="Index">Administrative Requests</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="LeaveType" asp-action="Index">Leave Types</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Attendance" asp-action="HrAttendance">Attendances</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Attendance" asp-action="LateEmployee">Late Employees</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Recruitment" asp-action="Index">Recruitments</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="JobApplication" asp-action="Index">Job Applications</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Salary" asp-action="Index">Salaries</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Benefit" asp-action="Index">Benefits</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="EmployeeBenefit" asp-action="Index">Employees Benefits</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Deduction" asp-action="Index">Deductions</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="EmployeeDeduction" asp-action="Index">Employees Deductions</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Archive" asp-action="Index">Archives</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="ArchiveType" asp-action="Index">Archive Types</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Training" asp-action="Index">Training</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="EmployeeTraining" asp-action="Index">Employee Training</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="PerformanceReview" asp-action="Index">Performance Review</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="LeaveRequest" asp-action="WaitingRequests">Waiting Requests</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="UnpaidLeaveDeduction" asp-action="Index">Unpaid Leave</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Holiday" asp-action="Index">Holidays</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="HolidayType" asp-action="Index">Holiday Types</a>

                }
                
                @*$1$ Sub-Section's Title #1#
                @if (User.IsInRole(SD.ADMIN_ROLE))
                {
                    <h6 class="collapse-header">HR</h6>
                }*@
                
                @if (User.IsInRole(SD.ACCOUNTING_ROLE))
                {
                    <a class="collapse-item" asp-area="CRM" asp-controller="Purchase" asp-action="Index">Invoices</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Vendor" asp-action="Index">Vendors</a>  
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Customers</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Transaction" asp-action="Index">Transactions</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Account" asp-action="Index">Accounts</a>  
                    @*
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Journal" asp-action="Index">Journals</a>  
                    *@
                    <a class="collapse-item" asp-area="Accounting" asp-controller="JournalEntry" asp-action="Index">Journal Entries</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="GeneralLedger" asp-action="Index">General Ledger</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Tax" asp-action="Index">Taxes</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Payroll" asp-action="Index">Payrolls</a>  
                }
                @if (User.IsInRole(SD.EMPLOYEE_ROLE))
                {
                    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                    <a class="collapse-item" asp-area="Hr" asp-controller="LeaveRequest" asp-action="GetById" asp-route-id="@userId">My Leave Requests</a>
                    @(await Component.InvokeAsync("WaitingRequest", userId))
                }
             
            </div>
        </div>
    </li>
        <!-- Utilities Collapse  -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Utilities:</h6>
                    @if (User.IsInRole(SD.CRM_ROLE))
                    {
                        <a class="collapse-item" asp-area="CRM" asp-controller="Tag" asp-action="Index">Tags</a>
                        <a class="collapse-item" asp-area="CRM" asp-controller="ProblemType" asp-action="Index">Problems Types</a>
                        <a class="collapse-item" asp-area="CRM" asp-controller="EventType" asp-action="Index">Event Types</a>
                    }
                    @if (User.IsInRole(SD.ACCOUNTING_ROLE))
                    {
                        <a class="collapse-item" asp-area="Accounting" asp-controller="Product" asp-action="Index">Products</a>
                        <a class="collapse-item" asp-area="Accounting" asp-controller="Currency" asp-action="Index">Currencies</a>
                        <a class="collapse-item" asp-area="Accounting" asp-controller="PaymentMethod" asp-action="Index">Payment Methods</a>
                    }
                    @if (User.IsInRole(SD.HR_ROLE))
                    {
                        var hrId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        @(await Component.InvokeAsync("WaitingRequest", hrId))
                    }
                </div>
            </div>
        </li>
    }
    @if (User.IsInRole(SD.ADMIN_ROLE))
    {
        <!-- HR Collapse  -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHR"
               aria-expanded="true" aria-controls="collapseHR">
                <i class="fas fa-fw fa-folder"></i>
                <span>HR</span>
            </a>
            <div id="collapseHR" class="collapse" aria-labelledby="collapseHR"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Components</h6>
                    <a class="collapse-item" asp-area="HR" asp-controller="Department" asp-action="Index">Departments</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Position" asp-action="Index">Positions</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="LeaveRequest" asp-action="Index">Leave Requests</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Attendance" asp-action="HrAttendance">Attendances</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Attendance" asp-action="LateEmployee">Late Employees</a>
                    
                    <a class="collapse-item" asp-area="HR" asp-controller="Recruitment" asp-action="Index">Recruitments</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="JobApplication" asp-action="Index">Job Applications</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Salary" asp-action="Index">Salaries</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Benefit" asp-action="Index">Benefits</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="EmployeeBenefit" asp-action="Index">Employees Benefits</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Deduction" asp-action="Index">Deductions</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="EmployeeDeduction" asp-action="Index">Employees Deductions</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Archive" asp-action="Index">Archives</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Training" asp-action="Index">Training</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="EmployeeTraining" asp-action="Index">Employee Training</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="PerformanceReview" asp-action="Index">Performance Review</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="LeaveRequest" asp-action="WaitingRequests">Waiting Requests</a>
                    
                    <a class="collapse-item" asp-area="HR" asp-controller="UnpaidLeaveDeduction" asp-action="Index">Unpaid Leave</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Holiday" asp-action="Index">Holidays</a>
                    
                    
                    <h6 class="collapse-header">Options</h6>
                    <a class="collapse-item" asp-area="HR" asp-controller="LeaveType" asp-action="Index">Leave Types</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="ArchiveType" asp-action="Index">Archive Types</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="HolidayType" asp-action="Index">Holiday Types</a>
                    
                </div>
            </div>
        </li>
    
        <!-- CRM Collapse  -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCRM"
               aria-expanded="true" aria-controls="collapseCRM">
                @*<i class="fas fa-fw fa-wrench"></i>*@
                <i class="fas fa-fw fa-folder"></i>
                
                <span>CRM</span>
            </a>
            <div id="collapseCRM" class="collapse" aria-labelledby="collapseCRM"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Components</h6>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Contacts</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Customers</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Leads</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Purchase" asp-action="Index">Purchases</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Problem" asp-action="Index">Problems</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Event" asp-action="Index">Event</a>
                    
                    <h6 class="collapse-header">Options</h6>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Tag" asp-action="Index">Tags</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="ProblemType" asp-action="Index">Problems Types</a>
                    <a class="collapse-item" asp-area="CRM" asp-controller="EventType" asp-action="Index">Event Types</a>
                </div>
            </div>
        </li>

        <!-- Accounting Collapse  -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAcc"
               aria-expanded="true" aria-controls="collapseAcc">
                <i class="fas fa-fw fa-folder"></i>
                <span>Accounting</span>
            </a>
            <div id="collapseAcc" class="collapse" aria-labelledby="collapseAcc"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Components</h6>
                    <a class="collapse-item" asp-area="CRM" asp-controller="Purchase" asp-action="Index">Invoices</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Vendor" asp-action="Index">Vendors</a>  
                    <a class="collapse-item" asp-area="CRM" asp-controller="Contact" asp-action="Index">Customers</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Transaction" asp-action="Index">Transactions</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Account" asp-action="Index">Accounts</a>  
                    @*
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Journal" asp-action="Index">Journals</a> 
                    *@
                    <a class="collapse-item" asp-area="Accounting" asp-controller="JournalEntry" asp-action="Index">Journal Entries</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="GeneralLedger" asp-action="Index">General Ledger</a>  
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Tax" asp-action="Index">Taxes</a>
                    <a class="collapse-item" asp-area="Accounting" asp-controller="Payroll" asp-action="Index">Payrolls</a>
                    
                    
                    <h6 class="collapse-header">Options</h6>
                    
                </div>
            </div>
        </li>
        
          <!-- Employee Collapse  -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmp"
               aria-expanded="true" aria-controls="collapseEmp">
                <i class="fas fa-fw fa-folder"></i>
                <span>Employee</span>
            </a>
            <div id="collapseEmp" class="collapse" aria-labelledby="collapseEmp"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Components</h6>
                     @{
                        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        @await Component.InvokeAsync("WaitingRequest", userId)
                     }
                    @*
                    <h6 class="collapse-header">Options</h6>
                    *@
                    
                </div>
            </div>
        </li>
    }
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWorks"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Works</span>
        </a>
        <div id="collapseWorks" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">To-do list</h6>
                <a class="collapse-item" asp-area="Utility" asp-controller="Todo" asp-action="Index">Tasks</a>
                @if (!User.IsInRole(SD.ADMIN_ROLE))
                {
                    <a class="collapse-item" asp-area="HR" asp-controller="Attendance" asp-action="EmployeeAttendance">Attendances</a>
                    <a class="collapse-item" asp-area="HR" asp-controller="Attendance" asp-action="Sign">Record Attendance</a>
                    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                    <a class="collapse-item" asp-area="Hr" asp-controller="LeaveRequest" asp-action="GetById" asp-route-id="@userId">My Leave Requests</a>
                    @(await Component.InvokeAsync("WaitingRequest", userId))
                }
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Communications</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Text</h6>
                <a class="collapse-item" asp-area="Utility" asp-controller="MessagePayload" asp-action="Send">Private Message</a>
                <a class="collapse-item" asp-area="Utility" asp-controller="Chat" asp-action="JoinChat">Chat rooms</a>
                <a class="collapse-item" asp-area="Utility" asp-controller="Mailer" asp-action="Index">Send Email</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Video</h6>
                <a class="collapse-item" href="http://localhost:9000/create" target="_blank">Video rooms</a>
                <h6 class="collapse-header">Audio</h6>
                <a class="collapse-item" href="#" target="_blank">Audio rooms</a>

            </div>
        </div>
    </li>
    @if (User.IsInRole(SD.ADMIN_ROLE))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="ActivityLog" asp-action="Index">
                <i class="fas fa-fw fa-table"></i>
                <span>Activity Logs</span>
            </a>
        </li>
    }
    @if (User.IsInRole(SD.ADMIN_ROLE) || User.IsInRole(SD.HR_ROLE))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Employee" asp-action="Index">
                <i class="fas fa-fw fa-table"></i>
                <span>Employees</span>
            </a>

        </li>
    }

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <header>
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Search -->
                <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    @if (User.IsInRole(SD.HR_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                    {
                        <li class="nav-item dropdown no-arrow mx-1">
                            <!-- Dropdown - Messages -->
                            @await Component.InvokeAsync("ExpiryDate")
                        </li>
                        
                    }
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <!-- Dropdown - Alerts -->
                        @{
                            var alertsClaimsIdentity = (ClaimsIdentity)User.Identity!;
                            var id = alertsClaimsIdentity.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                            @(await Component.InvokeAsync("Notification", new { userId = id }))
                        }
                    </li>
                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <!-- Dropdown - Messages -->
                        @await Component.InvokeAsync("Message", new { receiverEmail = User.Identity?.Name })
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @{
                                var claimsIdentity = (ClaimsIdentity)User.Identity!;
                                var employeeId = claimsIdentity?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                                @await Component.InvokeAsync("Employee", new { id = employeeId })
                                 
                            }
                            <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg" alt="">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" asp-area="Employee" asp-controller="ActivityLog" asp-action="Index">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>

                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <main role="main">
                <partial name="_Notification"/>
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; CORES 2024</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="btn btn-primary">Logout</button>
                </form>
                @*<a class="btn btn-primary"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>*@
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="~/vendor/chart.js/Chart.min.js"></script>

<!-- DataTables stuffe -->
<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/demo/datatables-demo.js"></script>
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!--Flatpickr For Data Input -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- intlTelInput -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js"></script>
    
<!-- Moment -->
@*
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
*@



@await RenderSectionAsync("Scripts", false)
</body>
</html>