@model IEnumerable<LeaveRequest>

<!-- DataTale -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Leave Requests</h6>
            <a class="btn btn-secondary" asp-controller="LeaveRequest" asp-action="Upsert">
                <i class="fas fa-plus-circle"></i> Create Leave Requests
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Leave Type</th>
                    <th>Employee Name</th>
                    <th>Request Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>No. Days</th>
                     @if (!ViewBag.IsFromManager)
                     {
                         <th>Manger</th>
                     }
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                   <th>Leave Type</th>
                   <th>Employee Name</th>
                   <th>Request Date</th>
                   <th>Start Date</th>
                   <th>End Date</th>
                   <th>No. Days</th>
                    @if (!ViewBag.IsFromManager)
                    {
                        <th>Manger</th>
                    }
                   <th>Actions</th>
                </tr>
                </tfoot>
                <tbody class="text-dark">
                @foreach (var leaveRequest in Model)
                {
                    <tr>
                        <td>@leaveRequest.LeaveType.Name</td>
                        <td>@($"{leaveRequest.Employee.FirstName} {leaveRequest.Employee.LastName}")</td>
                        <td>@leaveRequest.RequestDate.ToString("yyyy MMMM dd")</td>
                        <td>@leaveRequest.StartDate.ToString("yyyy MMMM dd")</td>
                        <td>@leaveRequest.EndDate.ToString("yyyy MMMM dd")</td>
                        <td>@leaveRequest.NumberOfDays</td>
                        @if (!ViewBag.IsFromManager)
                        {
                            <td>
                                @(leaveRequest.ManagerResponse switch
                                {
                                    true => "Accepted",
                                    false => "Rejected",
                                    _ => "Pending"
                                })
                            </td>
                        }
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu animated--fade-in"
                                     aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="LeaveRequest" asp-action="Accept" asp-route-id="@leaveRequest.Id"
                                       asp-route-isManager="@ViewBag.IsFromManager"
                                       onmouseover="this.style.backgroundColor='#5cb85e'; this.style.color='white';"
                                       onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                        <i class="fas fa-info-circle"></i> Accept
                                    </a>
                                    <a class="dropdown-item" onclick="openRejectModal(@leaveRequest.Id);"
                                       onmouseover="this.style.backgroundColor='#e74a3e'; this.style.color='white';"
                                       onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                        <i class="fas fa-edit"></i> Reject
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Reject Reason Modal -->
                    <div class="modal fade" id="rejectReasonModal" tabindex="-1" role="dialog" aria-labelledby="rejectReasonModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="rejectReasonModalLabel">Reject Leave Request</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="rejectForm" asp-action="Reject" asp-route-id="@leaveRequest.Id" asp-route-isManager="@ViewBag.IsFromManager">
                                        <input type="hidden" id="leaveRequestId" name="leaveRequestId"/>
                                        <div class="form-group">
                                            <label>Reason for Rejection:</label>
                                            <textarea class="form-control" id="responseReason" name="responseReason" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-danger">Submit Rejection</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </tbody>
            </table>
     
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
    
   <script>
       function openRejectModal(leaveRequestId) {
           $('#leaveRequestId').val(leaveRequestId);
           $('#rejectReasonModal').modal('show');
       }
   
     /*  $('#rejectForm').submit(function (event) {
           event.preventDefault(); // Prevent the default form submission
   
           const leaveRequestId = $('#leaveRequestId').val();
           const rejectReason = $('#rejectReason').val();
   
           $.ajax({
               url: '@Url.Action("Reject", "LeaveRequest")', // Adjust the action and controller names as needed
               type: 'POST',
               data: {
                   id: leaveRequestId,
                   responseReason: rejectReason,
                   isManager: '@ViewBag.IsFromManager' // Pass the isManager flag if necessary
               },
               success: function () {
                   location.reload(); // Reload the page after successful rejection
               },
               error: function () {
                   alert('Error rejecting leave request. Please try again.');
               }
           });
   
           $('#rejectReasonModal').modal('hide'); // Hide the modal after submission
       });*/
   </script>


    
}